/* custom.css */

body {
    font-family: monospace;
    background-color: #1e1e1e; /* Dark background */
    color: #ff5ab7;;
}

a {
	color: #23FF91;
}
.navbar {
    background-color: #282a36; /* Darker background for navbar */
}

.card {
    background-color: #282a36; /* Darker background for cards */
    color: #ff5ab7;
    border: 1px solid #44475a; /* Slightly lighter border */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282a36; /* Darker background for footer */
    color: #ff5ab7;
}

/* Terminal-like input */
input[type="text"], textarea {
    background-color: #44475a; /* Slightly lighter background */
    color: #f8f8f2; /* Light text */
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Fira Code', monospace;
}

/* Terminal-like button */
.btn-primary {
    background-color: #000000; /* Slightly lighter background */
    border: none;
    color: #f8f8f2; /* Light text */
}
.btn-primary:a {
    border: none;
    color: #f8f8f2; /* Light text */
}
.btn-primary:hover {
    background-color: #44475a; /* Darker background on hover */
}
